@{
    ViewData["Title"] = "Home Page - SMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Enreap </h1>
    <p>This is Dotnet core Application on linux platform</a>.</p>
    <p>Contact US!...9545154068</p>
</div>
