@{
    ViewData["Title"] = "Home Page - SMS";
}

<div class="text-center">
    <h1 class="display-4">!!...Welcome to Enreap...!!</h1>
    <p>This is Dotnet core Application on linux platform</a>.</p>
    <p>We are a partner in our client’s digital transformation journey. We enable them to achieve “Operational Delivery Excellence” by leveraging our proficiency across various enterprise software platforms. We help their teams realize optimum productivity by envisioning and executing technology-enabled operations strategies.

Over the past 10+ years, we have worked with 400 enterprises worldwide across various industry verticals such as retail, IT/ITeS, BFSI, healthcare and pharma, and more. We are excited about the future as we work towards the vision of becoming a Global Thought Leader across collaboration, software delivery, IT, and business support practices and set new benchmarks in Operational Excellence.</p>
    
    <p>Contact US - 020-6543755</p>
</div>
